body {
  margin: 0,auto;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://t3.ftcdn.net/jpg/01/41/43/84/360_F_141438480_vZ4DSzbfLULyc41QDCMxuwM3TqouDkXz.jpg');
  max-width: 100%;
  max-height: 100%;
  
};